@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AC Compacta';
  src: url('./assets/fonts/compacta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('./assets/fonts/TT_Mussels_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels Xtra Bold';
  src: url('./assets/fonts/TT_Mussels_Stencil_ExtraBold_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}